body{
    background-image: url('images.jpg');
}
.div1 {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div2{
    margin-bottom: 10px;
}