body{
    background-image: url('images.jpg');
}
.container{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    justify-content: center;
    grid-gap: 20px;
}
.inp{
    direction: rtl;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.99);
}
input{
    border-radius: 50px;
}
::placeholder{
    color: black;
    text-align: center;
}
.click{
    background-color: rgba(0, 255, 255, 0.618);
    border-radius: 50px;
    transition: all 0.3s;
    margin-left: 400px;
    width: 100%;
}
.click:hover{
    transform: scale(1.1);
    background-color: goldenrod;
}