body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("images.jpg");
    padding: 20px;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #d8bb94b1;
    padding: 20px;
    border: 6px double rgb(121, 103, 3);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.802);
    width: 300px;
    margin: 0 auto;
    
}

#display {
    width: 100%;
    font-size: 40px;
    margin-top: 40px;
    padding: 7px;
    border-radius: 40px;
    margin-bottom: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.buttons button:hover{
    cursor: pointer;
    color: #151515a8;

}

button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}
